.aboutusphone {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    img {
        width: 90%;
        z-index: 2;
        margin-top: 80px;
    }
    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        padding: 0 10%;
        h2{
            font-size: 36px;
            font-family: $h1_font;
            color: $font_color;
            padding-bottom: 1rem;
        }
        p {
            font-family: $general_font;
            font-size: 14px;
            color: $font_color
        }
    }
}

@media (min-width: 540px) {
    .aboutusphone {
        img {
            padding: 2%;
        }
    }
}

@media (min-width: 768px){
    .aboutusphone {
        margin-bottom: 0px;
        img {
            width: 80%;
            margin-top: 20px;
        }
    }
}

@media (min-width: 900px){
    .aboutusphone {
        img {
            width: 70%;
        }
        div {
            display: flex;
            flex-direction: column;
            h2{
                font-size: 48px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 1180px){
    .aboutusphone {
        flex-direction: row;
        margin-top: 5%;
        padding: 0 10%;
        img {
            width: 45%;
            padding: 0;
        }
        div {
            display: flex;
            flex-direction: column;
            h2{
                font-size: 48px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}git remote set-url origin https://github.com/juanpa0011/juanpa0011.github.io.git